// Kanagawa Dragon <3

// Surface
// $bg: #12120f; // dragonBlack1
$bg: #07070a;
$bgLight: #43464b; // Dark Steel Gray
$text: #c5c9c5; // dragonWhite

// Scheme Colors
$primary: #c4746e; // dragonRed
$secondary: #a292a3; // dragonPink


// https://github.com/rebelot/kanagawa.nvim - MIT License
