{% extends "base.html" %} 

{% block seo %}
    <title>{{ section.title }}</title>
    <meta name="title" content="{{ section.title }}"/>
    <meta name="description" content="{{ section.description }}"/>

    <!-- open graph bruh -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ config.base_url}}{{ section.path }}" />
    <meta property="og:title" content="{{ section.title }}">
    <meta property="og:description" content="{{ section.description }}" />

    <!-- le birdsite -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content="{{ config.base_url }}{{ section.path }}" />
    <meta property="twitter:title" content="{{ section.title }}" />
    <meta property="twitter:description" content="{{ section.description }}" />
{% endblock seo %}

{% block content %}
<ul class="posts-list">
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}" class="post-entry">
    <h4>{{ page.title }}</h4>
    <p>{{ page.date }}</p>
  </a></li>
  {% endfor %}
</ul>
{% endblock content %}
